body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', 'sans-serif';
    background:
    radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
    radial-gradient(at 100% 100%,     rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),
    #8a3;
    background-size: 20px 20px;
}

section.wrapper {
    background: rgba(255, 255, 255, 0.6);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    margin: 20px;
    min-height: 600px;
}

header {
    padding: 10px 20px;
    text-align: center;
}

section.main {
    padding: 20px;
}

section.result {
    padding: 20px;
}